DEPLOYER_PRIVATE_KEY= // Wallet private key. This account initiates deployment process and pays gas fees.
ETHERSCAN_API_KEY= // Etherscan API key to verify contracts.
ALCHEMY_KEY= // Alchemy key for the selected network.
DEPLOY_ADDRESS= // The address of the account to deploy token to.
